<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/coupon.css">
    <style>
        body {
            background-color: #eee;
        }
    </style>
</head>

<body>
    <div class="kuan-coupon-code">
        <img src="https://wimg.misiyu.cn/images/20191118/1574046130_e504b29969e82cb.jpg?x-oss-process=style/common"
            alt="">
        <div class="text">
            发现<span class="num">20</span>元优惠券
        </div>
        <button class="btn">点此领券</button>
    </div>
</body>

</html>